 .donate-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
              url("images/Project Integration Management Quiz Enhance Key Concepts.jpeg") center/cover no-repeat;
}

.donate-title {
  font-family: "Lobster Two", cursive;
  font-size: 120px;
}

.amount-btn {
  width: 90px;
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s;
}

.amount-btn:hover,
.amount-btn.active {
  background-color: rgb(53, 215, 178);
  color: white;
  border-color: rgb(53, 215, 178);
}

.custom-input {
  box-shadow: 0 0 8px rgba(36, 152, 125, 0.5);
  border-radius: 8px;
}