.left-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url('images/Happy Faces Vadodara-NGO For Joy Of Giving.jpeg') center/cover no-repeat;
  height: 100vh;
}

.line {
  border-bottom: 4px solid white;
  width: 60px;
}

h5 {
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.card label {
  color: gray;
}
.btn-success {
  background-color: rgb(36, 152, 125);
  border: none;
  box-shadow: 0 0 10px 0 rgba(36, 152, 125, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-success:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px 2px rgba(36, 152, 125, 0.7);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}