/* body{
    margin: 0;
    display: flex;
    overflow-y: hidden;
}
.con{
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/Happy\ Faces\ Vadodara-NGO\ For\ Joy\ Of\ Giving.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.login{
       display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.ngo{
display: flex;
justify-content: center;
align-items: center;
}
.line{
    border-bottom: 5px solid white;
    width: 50px;
    margin-left: 35px;
    margin-top: 10px;
}
.check{
    color: white;
    padding-left: 40px;
    font-weight: 400;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.create{
    color: rgb(40, 40, 161);
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.form input {
     display: block !important;
     width:50% !important;
margin-left: 50px;
     border: none;
}
.line2{
border-bottom: 1px solid gray;
width: 350px;
margin-left: 50px;
}
.check2{
    padding-top: 20px;
}
.password{
    font-size: 12px;
    color: gray;
}
.sign{
    margin-top: 20px;
    width: 200px;
}
.account{
    color: gray;
}
@media (max-width: 768px){
.con{
    display: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
    text-align: center;
}
.create{
    color: rgb(40, 40, 161);
display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 50px;
}
.see{
    padding-left: 50px;
}
.form input {
     display: block !important;
     width:50% !important;
     border: none;
}
.line2{
border-bottom: 1px solid gray;
width: 250px;
}
.check2{
    padding-top: 20px;
}
.password{
    font-size: 12px;
    color: gray;
}
.sign{
    margin-top: 20px;
    width: 200px;
}
.account{
    color: gray;
}
.checkbox{
    padding-left: 40px;
    padding-right: 60px;
}
} */
.left-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
              url('images/Happy Faces Vadodara-NGO For Joy Of Giving.jpeg') center/cover no-repeat;
  height: 100vh;
}

.line {
  border-bottom: 4px solid white;
  width: 60px;
}

h5 {
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.card label {
  color: gray;
}
.btn-success {
  background-color: rgb(36, 152, 125);
  border: none;
  box-shadow: 0 0 10px 0 rgba(36, 152, 125, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-success:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px 2px rgba(36, 152, 125, 0.7);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}