.btn-success {
  background-color: rgb(36, 152, 125);
  border: none;
  box-shadow: 0 0 10px 0 rgba(36, 152, 125, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-success:hover {
  transform: scale(1.07);
  box-shadow: 0 0 15px 2px rgba(36, 152, 125, 0.7);
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 20px;
  }

  .col-lg-5 {
    width: 100%;
  }
}
