:root{
--number-color:#d2d8c0;
--line-color:#8bae32;
--back-color:rgb(249, 247, 243);
--footer-color: #46512a;
}
html,
body{
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
    color: #333;
    line-height: 1.6;
}
.btn-1 {
  background-color: #8bae32;
  border: none;
  font-weight: 600;
}

.btn-1:hover {
  background-color: white;
  color: #8bae32;
}

header{
    background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('images/Central\ African\ Republic.jpeg') ;
    height: 600px;
    background-size: cover;
}
.img{
padding-left: 30px;
}
.change{
font-size: 60px;
}
.home{
    color:  #8bae32;
}
.box {
   /* background: linear-gradient(to bottom, rgba(0,0,0,0.05) 13%, rgb(249,247,243) 87%); */
   background-color: white;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.boxx {
  margin-top: -80px;
}
.num{
    color: var(--number-color);
}
.first{
    border: 1px solid var(--number-color);
    background-color: white;
    padding: 20px;
}
.btnn{
    font-weight: 600;
    background-color: white;

}
.btnn:hover{
    background-color: black;
    color: white;
}

.body1{
    width: 100%;
    padding-top:30px;
    background-color: var(--back-color);
}
.creat {
  border-radius: 15px;
  padding: 40px;
}

.counter {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 1;
  transition: all 0.3s ease;
}

.counter:hover {
  color: #8bae32;
  transform: scale(1.05);
}

p {
  font-size: 16px;
  color: #333;
}


.create1 {
  background-color: var(--line-color);
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.06);
  max-width: 1100px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.03);
}

.view h1 {
  font-weight: 700;
  font-size: 1.4rem;
}
@media(min-width: 992px){
  .view h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 575.98px) {
  .create1 {
    padding-left: 1rem;
     padding-right: 1rem;
  }
}
.cll {
  background-color: var(--back-color);
}

.nw:hover {
  background-color: black;
  color: white;
}
.inspir{
    background-color: var(--number-color);
}
.tale {
  background-color: var(--back-color);
}


.txt:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}
.card img:first-child {
  height: 400px;
}
.fot {
  color: var(--line-color);
  font-size: 15px;
}

footer {
  background-color: white;
}
.lineees {
  border-bottom: 1px solid var(--line-color);
}

.footer p {
  color: var(--footer-color);
  font-size: 15px;
}

.footer a:hover i {
  color: var(--main-color);
  transition: 0.3s ease;
}
/* Navbar hover and active color */
.navbar-nav .nav-link:hover {
  color: var(--line-color) !important;
}

