/* .left{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(images/Download\ free\ image\ of\ Paper\ craft\ donation\ during\ the\ COVID-19\ background\ by\ Ning\ about\ backgrounds\,\ paper\,\ pink\ backgrounds\,\ instagram\,\ and\ money\ 2313711.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
.login{
    display: flex;
}

.left{
    display: flex;
align-items: center;
height: 100vh;
letter-spacing: 1px;
padding-left: 60px;
}
.create{
    color: rgb(40, 40, 161);
display: flex;
  align-items: center;
  justify-content: center;
    height: 50vh;
}
.form input {
     display: block !important;
     width:50% !important;
     margin-left: 200px;
     border: none;
}
.line{
border-bottom: 1px solid gray;
width: 350px;
margin-left: 200px;
}
.check{
    margin-left: 30px;
    padding-top: 20px;
}
.password{
    font-size: 12px;
    color: gray;
}
.sign{
    margin-left: 200px;
    margin-top: 20px;
    width: 120px;
}
.account{
    color: gray;
    margin-left: 200px;
    margin-top: 50px;
}
@media (max-width: 768px){
.left{
    display: none;
}
.login{
    display: flex;
}
 .container{
display: flex;
align-items: center;
justify-content: center;
height: 85vh;
 }
.create{
    color: rgb(40, 40, 161);
}
.form input {
     display: block !important;
     width:50% !important;
     margin-left: 30px;
     border: none;
}
.line{
border-bottom: 1px solid gray;
width: 250px;
margin-left: 30px;
}
.check{
    padding-top: 20px;
}
.password{
    font-size: 12px;
    color: gray;
}
.sign{
    margin-left: 30px;
    margin-top: 20px;
    width: 270px;
}
.account{
    color: gray;
    margin-left: 50px;
    margin-top: 30px;
}
} */
/* خلفية الجزء الشمال */
.left {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.55)),
    url("images/Download free image of Paper craft donation during the COVID-19 background by Ning about backgrounds, paper, pink backgrounds, instagram, and money 2313711.jpeg")
      center/cover no-repeat;
  min-height: 100vh;
}
.log{
    color:rgb(36, 152, 125) ;
}
.btn-success {
  background-color: rgb(36, 152, 125);
  border: none;
  box-shadow: 0 0 10px 0 rgba(36, 152, 125, 0.6);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-success:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px 2px rgba(36, 152, 125, 0.7);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
/* على الموبايل نخفي الصورة */
@media (max-width: 768px) {
  .left {
    display: none;
  }

  .login {
    justify-content: center;
  }

  form {
    width: 90% !important;
  }
}
